body {
    background-color: rgb(165, 172, 177);
}
.cabeçalho{ 
    background-color: rgb(5, 5, 5);
width: 75%;
color: aliceblue;
display: flex;
justify-content: space-around;
}
.cabeçalho-lista-item{
    display: inline-block;
}
